html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */

}
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    min-height: 100vh;
    margin: 0 auto;
    background:#537895;
    scrollbar-color: auto;
  
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #fefefe;
    text-shadow: 3px 3px 5px black;
    
  }
  
  img {
    display: block;
    margin: 0 auto;
  }

  .back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #f7f7f7;
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.5s;
  }

  .hiddenbutton {
    display: none;
  }

  .back-to-top-icon {
    width: 1.5rem;
    height: 1rem;
    color: black;
  }